* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.nav {
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #dadada;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.nav-part2 {
    display: flex;
    gap: 4vw;
    align-items: center;
}

.nav-part2 a {
    text-decoration: none;
    color: #38B9C2;
    font-weight: 600;
}

.nav h2 {
    font-size: 1.5vw;
    font-weight: 700;
    color: #38B9C2;
}

.nav-part2 a:hover {
    color: #028391;
}

.form-container {
    background-color: #38B9C2;
    height: 50%;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 8vh;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.heading {
    height: 2vh;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

.input-box {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #5cb85c;
    outline: none;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}
